.venv/
.ruff_cache/
__pycache__/
*.py[cod]
*.egg-info/
db.sqlite3
db.sqlite3-journal
cookies.txt
.env
.env.*
!.env.example

# Tailwind
node_modules/
tailwindcss
tailwindcss.exe

# Static build output

# Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
whatsapp_qrcode.png
